name: Deploy front-end to Amazon S3

on:
  push:
    branches: [ "main" ]
    paths:
      - "front-end/**"

env:
  AWS_REGION: us-west-1                      
  NEXTJS_DIST: front-end/out
  CLOUDFRONT_DISTRIBUTION_ID: E2QE7JY9DE1WR4
  S3_BUCKET: interest-852368830719
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials from AWS account
      uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: arn:aws:iam::852368830719:role/oidc-aws-github
        aws-region: ${{ env.AWS_REGION }}
  
    - name: Install Dependencies
      working-directory: front-end
      run: npm install

  
    - name: Build Static Website
      working-directory: front-end
      run: npm run build
    - name: Debug OIDC Context
      run: |
        echo "REPO=$GITHUB_REPOSITORY"
        echo "REF=$GITHUB_REF"
        echo "ENV=$GITHUB_ENVIRONMENT"

    - name: Copy files to the production website with the AWS CLI
      run: |
        aws s3 sync --delete ${{ env.NEXTJS_DIST }} s3://${{ env.S3_BUCKET }}
  
    - name: Copy files to the production website with the AWS CLI
      run: |
        aws cloudfront create-invalidation \
        --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
        --paths "/*"
